knowlodge_base_restaurunt.json
{
  "name": "knowlodge_base_restaurunt",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1y65PW6rwzcpFDXtrllty2pul3Hw4oEX0",
          "mode": "list",
          "cachedResultName": "kb aly restrunt",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1y65PW6rwzcpFDXtrllty2pul3Hw4oEX0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        -32
      ],
      "id": "d6c27077-74a5-4a83-aced-14d7b778ba32",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q2P25OpLsoulEWwh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0cbd4887-f5c4-4dcd-96bb-7e63fcd22e0b",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -32
      ],
      "id": "4ecfc049-bfd2-4e7d-8b1d-8be71e0c27d9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        -32
      ],
      "id": "16a9da40-3718-4b7d-9772-d9081c7bba77",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Q2P25OpLsoulEWwh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        352,
        -32
      ],
      "id": "47166795-97a4-401d-a1da-3eb857f1ad42",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        480,
        -32
      ],
      "id": "2421cd95-ff1e-4274-bd67-7dc6fc005dbc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "yDDvQVcJ9KbKrnUC",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        128
      ],
      "id": "1c7a2031-78d9-4c24-a6a1-d61051de3d5f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 150,
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        544,
        304
      ],
      "id": "b01abe68-890d-4be1-ae65-f49d701433ef",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        272,
        176
      ],
      "id": "74dff530-f984-419a-a2cf-65057010ab7b",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "PKgJNTgQ9ZYDHDQk",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3decabd-0f60-4217-973d-784d31924ba9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e9e875ceb32c5e126031f48caa3339126ec15f2f339ea9fce1aa18d35f49f20"
  },
  "id": "a7KPxDJowp6T1qbN",
  "tags": []
}